.app-download {
  margin: 50px auto;
  text-align: center;
  font-size: max(2.5vw, 20px);
  font-weight: 500;
}

.app-download-platforms {
  gap: max(2vw, 10px);
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.app-download-platforms img {
  width: max(30vw, 120px);
  max-width: 180px;
  cursor: pointer;
  transition: 0.5s;
}

.app-download-platforms img:hover {
  transform: scale(1.05);
}
